{% extends 'layout.html.twig' %}



{% block main %}

   <p> Yo ho ho, buccaneer !<br><br>
    Want to discover the crew?<br><br>

    The only one here is a old peg leg ! But right now he's away from the coast !<br><br>

    But if ya want i can tell you a joke !<br><br>

    "What has 8 legs, 8 arms, and 8 eyes?"<br>

    <div class="joke">"8 pirates."<br><br></div>


    Come again later !<br><br>
    
    <img class="pirate" src="{{ asset('img/pirate.png') }}">
   </p>
{% endblock %}


