{% extends 'layout.html.twig' %}




{% block main %}

    {% for idea in ideas %}
        <a href="{{ path('idea_details', {'id': idea.id}) }}"><div class="idea"><li>{{ idea.title }}</li></div></a>
        <div class="author">{{ idea.author }}</div><br>

    {% endfor %}


    </div>


{% endblock %}


